.main-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: clamp(12px, 18px, 24px);
}

.main-header {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: auto;
}

.page-name {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100%;
}

.breadcrumb-nav a {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    color: #818181;
}

.breadcrumb-nav a:last-child {
    color: #659400;
}

.page-name h1 {
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: 700;
}

.search-container {
    position: relative;
    width: 100%;
    background-color: #FFFFFF;
}

.search {
    display: flex;
    width: 100%;
}

.search label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: #FFFFFF;
    border: 2px solid #818181;
    border-radius: clamp(6px, 10px, 12px) 0 0 clamp(6px, 10px, 12px);
    flex-shrink: 0;
}

.search input {
    flex: 1;
    height: 45px;
    border: 2px solid #818181;
    border-radius: 0 clamp(6px, 10px, 12px) clamp(6px, 10px, 12px) 0;
    border-left: none;
    padding: 10px;
}

.search input {
    width: 100%;
    height: 45px;
    border: 2px solid #818181;
    border-radius: 0 clamp(6px, 10px, 12px) clamp(6px, 10px, 12px) 0;
    border-left: none;
    padding: 10px;
}

.search input:focus {
    outline: blue solid 1px;
}

.search-results {
    position: absolute;
    z-index: 1000;
    display: block;
    width: 100%;
    max-height: 250px;
    background-color: #FFFFFF;
    border-radius: 0 0 clamp(6px, 10px, 12px) clamp(6px, 10px, 12px);
    box-shadow: 2px 2px 4px 2px #0000004D;
    font-family: 'Poppins';
    font-size: 14px;
    overflow-y: auto;
}

.search-result-item {
    padding: 10px;
    border-bottom: 1px solid #818181;
    cursor: pointer;
}

.search-result-item:hover {
    background-color: #f5f5f5;
}

.search-result-item:last-child {
    border: none;
}

.specimen-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.specimen-name {
    color: #818181;
}

.active {
    color: #659400;
}

.inactive {
    color: #818181;
}

.form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #FFFFFF;
    border-radius: 6px;
    box-shadow: 2px 2px 4px 2px #0000004D;
}

.form-container form {
    margin: 10px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-message {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
    font-weight: bold;
}

.form-message.error {
    background: #f8d7da;
    color: #ca3443;
    border: 1px solid #f5c6cb;
}

.form-message.success {
    background: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.report {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.report label {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
}

.asunto {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #818181;
    border-radius: clamp(6px, 10px, 12px);
    font-family: 'Poppins';
    font-size: 14px;
    color: #0C0F0A;
}

textarea {
    width: 100%;
    height: 220px;
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #818181;
    border-radius: clamp(6px, 10px, 12px);
    font-family: 'Poppins';
    font-size: 14px;
    color: #0C0F0A;
}

.form-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 30px;
}

.selected-specimen {
    width: 95%;
    margin-top: 20px;
    padding: 10px;
    background-color: #DBE7C5;
    border-radius: clamp(8px, 10px, 12px);
    font-family: 'Poppins';
    font-size: 14px;
}

.selected-specimen h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.selected-specimen p {
    margin: 5px 0;
}

.selected-specimen strong {
    font-style: italic;
    font-weight: 500;
}

.form-actions button {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: clamp(6px, 10px, 12px);
    font-family: 'Poppins';
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s ease;
}

.btn-submit {
    background-color: #659400;
    color: #FFFFFF;
}

.btn-submit:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.btn-reset {
    background-color: #FFFFFF;
    border: #818181 solid 2px;
    color: #0C0F0A;
}

@media screen and (min-width: 1024px) {
    .form-actions {
        flex-direction: row;
    }
}