header{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 16vh;

    padding: 20px;
}

.header-content{
    display: flex;
    
    width: 100%;
    height: 80px;

    padding: 0 20px;

    background: #0C0F0A;
    border-radius: 8px;
}

.logo{
    flex: 1;

    display: flex;
    justify-content: start;
    align-items: center;
}

.logo img{
    height: 42px;
}

.user-controls{
    flex: 5;

    display: flex;
    justify-content: end;
    align-items: center;


    font-family: 'Montserrat';
}

button{
    padding: 5px;

    margin: 0 30px;

    background: transparent;
    border: none;

    color: #FFFFFF;

    cursor: pointer;
}

mat-icon{
    display: inline-block;
    width: 100%;
    height: 100%;

    font-size: 30px;
}

.user-info{
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-decoration: none;
}

.user-details{
    flex: 3;

    display: flex;
    flex-direction: column;

    margin: 0 30px;
}

.user-details span{
    color: #FFFFFF;
}

.user-pic{
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.user-pic img{
    width: 48px;
    height: 48px;
    
    border-radius: 48px;
}