.sidebar-container{
    width: 100%;
    height: 100%;

    background: #84BC0D;

    border-radius: 8px;
}

nav{
    width: 100%;
    height: 100%;
}

.nav-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 100%;

    list-style: none;
}

.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
}

.nav-item a{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    padding: 10px;

    border-radius: 8px;
}

.nav-item a mat-icon{
    width: 100%;
    height: 100%;

    font-size: 24px;
    color: #0C0F0A;
}

.nav-item button{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 100%;

    padding: 10px;


    background: transparent;
    border: none;
    border-radius: 8px;

    cursor: pointer;
}

.nav-item button mat-icon{
    width: 100%;
    height: 100%;

    font-size: 24px;
    color: #0C0F0A;
}

.logout{
    margin-top: 60px;
}

.subnav-btn {
    position: relative;
}

.subnav-list {
    position: absolute;
    top: 0;
    left: calc(100% + 20px);
    bottom: auto;

    width: 0;
    height: 200px;
    padding: 0;

    background: var(--white);

    opacity: 0;

    list-style: none;

    border-left: 0;
    border-right: var(--stroke) solid .5px;
    border-bottom: var(--stroke) solid 1px;
    border-radius: 0 clamp(6px, 10px, 12px) clamp(6px, 10px, 12px) 0;

    transition: width 0.4s ease, opacity 0.4s ease;
}

.subnav-list.active {
    width: 200px;
    height: 200px;
    opacity: 1;
}

.subnav-item {
    width: 100%;
    height: 25%;
    
    border-radius: 0;
}

.subnav-item a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    padding: 10px;
    text-decoration: none;
}

.subnav-item a span{
    flex: 2;

    display: flex;
    justify-content: start;
    align-items: center;

    padding-left: 10px;

    color: var(--night);

    font-family: 'Montserrat';
}

.subnav-item a mat-icon {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}