.sidebar-container{
    width: 100%;
    height: 100%;

    background: #84BC0D;

    border-radius: 8px;
}

nav{
    width: 100%;
    height: 100%;
}

.nav-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 100%;

    list-style: none;
}

.nav-item a{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    padding: 10px;

    border-radius: 8px;
}

.nav-item a mat-icon{
    display: flex;
    width: 100%;
    height: 100%;

    font-size: 28px;
    color: #0C0F0A;
}

.logout{
    margin-top: 60px;
}